@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 100px;
  }
}

#eth-symbol-hero {
  position: absolute;
  top: 0;
  right: 0;
  animation: MoveUpDown 4s linear infinite;
}

.page-container {
  height: 100vh;
  background: linear-gradient(285.57deg, #121a24 0%, #222e3c 100%);
  padding: 2% 5%;
}
